/* Global Styles for Cost Manager */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #f4f6f8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: start;
    min-width: 320px;
    min-height: 100vh;
    color: #212121;
}

#root {
    width: 100%;
}

/* Material UI adjustment to ensure background fits the theme */
.MuiPaper-root {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
